.feedback.top {
    position: absolute; 
    left: 50%; 
    top: 0; 
    margin-left: -25%; 
    width: 50%;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .feedback.top {
        margin-left: -37.5%; 
        width: 75%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .feedback.top {
        left: 0;
        right: 0;
        margin-left: 0; 
        width: auto;
    }
}